<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Charge_WindowsUniversal' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>2710a0f2-3719-4a19-a5c7-e70d30ede775</InstrumentationKey>
</ApplicationInsights>